*{
    margin:0;
    padding:0;
}

ul{
    list-style:none
}

.navbar{
    display:flex;
    justify-content: space-between;
    border:1px solid black;
  
}

.logo{
    background-image:url(../img/foo-fighters-logo.png);
    width:30px;
    height:30px;
}
.options{
    display:flex;
}

.navbar .options li a {
    display:flex;
    justify-content:center;
    padding:20px 20px;
    border:1px solid black;
}

.banner{
    background-image:url(../img/Foo-Fighters-1.jpg);
    height:600px;
    background-repeat:no-repeat;
    background-size: cover;
    width:auto;

}

.historia{
    padding:2% 2%;
}

.historia p {
    text-align:justify;
    font-size:20px;
}

.albumes{
    display:flex;
    align-items:center;
    flex-direction:column;
}

.albumes h2{
font-size:50px;
margin-bottom:15px;

}

.albumes li {
    display:flex;
   justify-content: center;
}
.albumes ul{
    max-width:100%;
    width:100%;
display:grid;
grid-template-columns: 25% 25% 25% 25%;

}


.album div {
    width:200px;
    height:250px;
    border-radius:10px;
    border:1px solid black;
}



.footer{
    background-color:black;
    color:white;
}